<?xml version="1.0" ?>
<configuration>
  <section name="global_options">
    <value name="pid_file">/var/run/php5-fpm.pid</value>

    <value name="error_log"><%= node[:fpm][:log][:path] %></value>
    <value name="log_level"><%= node[:fpm][:log][:level] %></value>

    <value name="emergency_restart_threshold">10</value>
    <value name="emergency_restart_interval">1m</value>
    <value name="process_control_timeout">5s</value>

    <value name="daemonize">yes</value>
  </section>

  <workers>
  <% node[:fpm][:pools].each do |name, pool| %>
    <section name="pool">
      <value name="name"><%= name %></value>

      <value name="listen_address"><%= pool[:address] %></value>
      <value name="allowed_clients"><%= pool[:allow] %></value>

      <value name="listen_options">
        <value name="backlog"><%= pool[:backlog] %></value>
        <value name="owner"><%= node[:fpm][:user] %></value>
        <value name="group"><%= node[:fpm][:user] %></value>
        <value name="mode">0666</value>
      </value>

      <value name="pm">
        <value name="style">static</value>
        <value name="max_children"><%= pool[:limits][:children] %></value>
      </value>

      <value name="user"><%= node[:fpm][:user] %></value>
      <value name="group"><%= node[:fpm][:user] %></value>

      <value name="rlimit_files"><%= pool[:limits][:files] %></value>
      <value name="rlimit_core"><%= pool[:limits][:core] %></value>
      <value name="max_requests"><%= pool[:limits][:requests] %></value>
      <value name="request_terminate_timeout"><%= pool[:limits][:timeout] %></value>
      <value name="catch_workers_output">yes</value>

      <value name="php_defines">
      <% pool[:php].each do |name, value| %>
        <value name="<%= name %>"><%= value %></value>
      <% end %>
      </value>

      <value name="environment">
        <value name="HOSTNAME">$HOSTNAME</value>
        <value name="PATH">/usr/local/bin:/usr/bin:/bin</value>
        <value name="TMP">/tmp</value>
        <value name="TMPDIR">/tmp</value>
        <value name="TEMP">/tmp</value>
        <value name="OSTYPE">$OSTYPE</value>
        <value name="MACHTYPE">$MACHTYPE</value>
        <value name="MALLOC_CHECK_">2</value>
      </value>
    </section>
  <% end %>
  </workers>
</configuration>
